[%- SET 
  File = c.stash.RapiFsFile
-%]

<style>
  .rapi-fs-fileview .grey {
    color:grey;
    font-size:0.9em;
    font-weight: normal;
  }
  .rapi-fs-fileview .bigger {
    font-weight:bold;
    display:normal;
    font-size:1.1em;
  }
</style>

<title class="[% File.iconCls %]">[% File.name %]</title>

<div class="rapi-fs-fileview" style="font-size:12px;">

<h4><span class="bigger">[% File.name %]</span>&nbsp;&nbsp;<i><span class="grey">([% File.bytes_human %])</span></i></h4>

<table class="r-simple-table">
  <tr>
    <th>Parent Folder</th>
    <td>
      <a 
        class="with-icon ra-icon-folder-up bigger"
        href="[% File.parent.view_url %]"
      >[% File.parent.name %]</a>&nbsp;&nbsp;
      <span class="grey">([% File.driver.name _ '/' _ File.parent.path %])</span>
    </td>
  </tr>
  <tr><th>Size</th>             <td>[% File.bytes %] bytes</td></tr>
  <tr><th>mtime</th>            <td>[% File.mtime %]</td></tr>
</table>
</div>
</div>